td, th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2;}

    tr:hover {background-color: #ddd;}

    th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0092E1;
    color: white;
    }
    .menu{
        display: inline-block;
        padding: 5px 0;
    }

    a{
        font-family: 'SEB Sans Serif';
        text-decoration: unset;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .red{
        background-color: rgba(201, 63, 63, 0.74);
    }

    .green{
        background-color: rgba(35, 173, 35, 0.74);
    }

.change-container{
    display: inline-block;
    width:100%;
    height: 70px;
    margin: 5px 0;
}
.alert-box{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.164);
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.change-box{
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 10px;
}

img{
    height: 20px;
}

p{
    font-size: 20px;

}   

.usd{
    padding: 0 4px;
}

.inner-box{
    width: 400px;
    text-align: center;
}
.message-box{
    margin-bottom: 10px;
}